<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProcesarValidacionEjecutivo</servlet-name>
        <servlet-class>portalinmobiliario.controller.ProcesarValidacionEjecutivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSession</servlet-name>
        <servlet-class>portalinmobiliario.controller.CerrarSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePropiedad</servlet-name>
        <servlet-class>portalinmobiliario.controller.UpdatePropiedad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePropiedad</servlet-name>
        <servlet-class>portalinmobiliario.controller.DeletePropiedad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarPregunta</servlet-name>
        <servlet-class>portalinmobiliario.controller.ProcesarPregunta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcesarValidacionEjecutivo</servlet-name>
        <url-pattern>/procesar_validacion_ejecutivo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSession</servlet-name>
        <url-pattern>/cerrar_session.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePropiedad</servlet-name>
        <url-pattern>/update_propiedad.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePropiedad</servlet-name>
        <url-pattern>/delete_propiedad.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarPregunta</servlet-name>
        <url-pattern>/procesar_pregunta.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
